numpy 
pandas 
jupyterlab 
ipywidgets 
pigeonXT-jupyter 
python-dotenv 
bs4 
nltk 
scipy 
matplotlib 
seaborn 
squarify
tika 
multiprocess 
zenodo_get
lxml
scikit-learn
google-cloud-storage
transformers
datasets
scikit-activeml
sentencepiece